html {overflow: hidden;}
body { font-family: 'Open Sans', sans-serif; line-height: .8; font-size: 45px; }
#hint {
    z-index: 9999;
    position: fixed; top: 0; left: 20px;
    font-size: 16px;
    background: #ddd;
    color: #666;
    padding: 6px 12px 12px;
    font-style: italic;
    opacity: 0;
    border-radius: 0 0 10px 10px;
    
    -webkit-transition: opacity 2s;
    -moz-transition:    opacity 2s;
    -ms-transition:     opacity 2s;
    -o-transition:      opacity 2s;
    transition:         opacity 2s;
    
    -webkit-transition-delay: 6s;
    -moz-transition-delay: 6s;
    -ms-transition-delay: 6s;
    -o-transition-delay: 6s;
    transition-delay: 6s;
}

#hint a { text-decoration: underline; font-style: italic; }

#hint:hover {
    opacity: 1;
    -webkit-transition: opacity .25s;
    -moz-transition:    opacity .25s;
    -ms-transition:     opacity .25s;
    -o-transition:      opacity .25s;
    transition:         opacity .25s;
}

a, a:hover, a:visited {
    text-decoration: none;
    font-style: normal;
    color: #666;
    cursor: pointer;
}
a:hover { color: #333;}

.title { font-size: 275px; }
.big { text-transform: uppercase; margin: 0; padding: 0; }
.bold { font-weight: 800; }
.light { font-weight: 400; }
.extralight { font-weight: 300; letter-spacing: .1em; }
.small { display: block; padding: 20px; font-size: 20px; font-weight: 600; }

blockquote {
    text-align: justify;
    font-weight: 300;
    font-style: italic;
    line-height: 1.4;
    margin: 5px;
}

blockquote .author {
    display: block;
    text-align: right;
    padding: 10px 40px;
    font-weight: 600;
    font-size: 36px;
}

.img-wrap {	margin: 0 auto; }
.img-inline { display: inline-block; padding: 12px 3px; }
.img-link {	text-decoration: none; }
.img-border { border: solid 1px #aaa; }


/* COMMON STEP STYLES */

.step {
    text-align: center;
    width: 1000px;
    padding: 20px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
    
    text-shadow: rgba(0,0,0,.01) 0 0 1px; /* Chrome @font-face anti-aliasing fix */
}

.step:not(.active) { opacity: 0.1; }
.impress-not-supported .step:not(.active) { opacity: 0.9; }


/* STEP SPECIFIC STYLES */
#title {width: 1240px; height: 600px; text-align: left; }
#title-text1 { font-size: 120px; color: #666;}
#title-text2 { font-size: 146px; }
#title-text3 { font-size: 124px; }

#struggle-text1 { font-size: 142px; }
#struggle-text2 { font-size: 185px; }
#struggle-text3 { font-size: 71px; }

#dt-developer { font-size: 166px; }
#dt-developer-effort { font-size: 61px; }
#dt-tester { font-size: 159px; }
#dt-tester-effort { font-size: 55px; }

#quality-text { font-size: 215px; }
#quality-or { position: relative; left: -20px; }
#quality-external-internal div { float: left; text-align: center; }
#quality-plus { width: 10%; font-size: 100px; }
#quality-internal, #quality-external { width: 45%; }
#quality-external-internal div .bold { font-size: 63px; width: 100%; }
#quality-external-internal div .light { font-size: 50px; width: 100%; }
#quality-internal .light { letter-spacing: -3px; }

#issue-go { font-size: 200px; }
#issue-test { letter-spacing: 19px; font-size: 37px; position: relative; left: 10px; }

#test-1-input { font-size: 42px; padding-top: 10px; }
#test-1-output { font-size: 40px; padding-top: 10px; }

#pattern-1-goal { font-size: 157px; padding-top: 10px; }
#pattern-1-signature { font-size: 158px; padding-top: 10px; }
#pattern-1-dates { font-size: 101px; padding-top: 10px; }

#issue-boom { font-size: 157px; }
#issue-drive { letter-spacing: -4px; font-size: 39px; }

#ogre { font-size: 167px; }
#ogre-born { letter-spacing: 7px; font-size: 55px; padding-top: 10px;}

#ogre-release { font-size: 94px; }

#new-requirement div { font-size: 96px; }

#cheap-shot { font-size: 103px; }

#trick-known { font-size: 61px; }
#trick-fail { font-size: 444px; }
#trick-difficult { font-size: 54px; }

#awful-1 { font-size: 168px; }
#awful-2 { font-size: 79px; }
#awful-3 { font-size: 68px; }
#awful-4 { font-size: 124px; }

#dp-design { font-size: 257px; }
#dp-pattern { font-size: 184px; }

#fame { font-size: 179px; }
#new-design-emerges { font-size: 77px; }

#finally-beat-ogre { font-size: 66px; }
#finally-beat-brick { font-size: 63px; }

#nofear-1 { font-size: 100px; }
#nofear-2 { font-size: 114px; }
#nofear-3 { font-size: 196px; }

#credits { width: 1200px; padding: 0; }
#credits .big { font-size: 150px; }
#credits p { font-style: italic; font-size: 30px; margin: 24px; padding: 0; color: #666; }
#credits p.first { margin-bottom: 45px; font-size: 40px; }
#credits a { font-style: italic; font-weight: bold; text-decoration: underline; }

@font-face
{ font-family:"Source Code Pro";
  src:url('fonts/SourceCodePro-Regular-webfont.ttf') format('truetype'); }

.pln
{ color:#bd3613; }

.str
{ color:#269186; }

.kwd
{ color:#859900; }

.com
{ color:#586175;
  font-style:italic; }

.typ
{ color:#b58900; }

.lit
{ color:#2aa198; }

.pun
{ color:#839496; }

.opn
{ color:#839496; }

.clo
{ color:#839496; }

.tag
{ color:#268bd2; }

.atn
{ color:#586175; }

.atv
{ color:#2aa198; }

.dec
{ color:#268bd2; }

.var
{ color:#268bd2; }

.fun
{ color:#F00; }

pre.prettyprint
{ background-color:#eee;
  padding:10px;
  border:1px solid #333;
  text-align: left;
  margin: 0; }

pre.small {
    font-size: 18px;
}


ol.linenums
{ color:#4c666c; }

ol.linenums li
{ line-height:18px;
  padding-left:12px;
  list-style-type:decimal-leading-zero;
  color:#cecece; }

ol.linenums li code
{ padding-left:1em; }

pre
{ font:0.6em "Source Code Pro"; }

pre code
{ text-shadow:none; }

pre ol.linenums li
{ margin-left:0;
  padding-left:0;
  font-size:1em;
  line-height:1.35em;
  list-style-position:inside; }

